on: [ push, pull_request ]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        configuration:
          - "nixosConfigurations.volt-nixos.config.system.build.toplevel"
          - "nixosConfigurations.zephyr.config.system.build.toplevel"
          - "darwinConfigurations.work-macbook.system"
          - "homeConfigurations.stefis-macbook.activationPackage"

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@v10
      - uses: DeterminateSystems/magic-nix-cache-action@v4
      - run: nix build '.#${{ matrix.configuration }}' --dry-run

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@v10
      - uses: DeterminateSystems/magic-nix-cache-action@v4
      - run: nix run nixpkgs#statix check
